<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List App</title>
</head>

<body>
    <div id="shopping-list">
        <h1>{{ header.toLocaleUpperCase() }}</h1>

        <!--adding new item through .push method-->
        <div class="add-items-form">
            <!--adding new items through input-->
            <input v-model="newItem" type="text" placeholder="Add an item" 
            v-on:keyup.enter="items.push(newItem)"/>
            <button class="btn btn-primary" v-on:click="items.push(newItem)">Save</button>
            <!--short hand for v-on is @ symbol ex: @click=""-->
        </div>

        <ul>
            <!--would like an li for each item in items array-->
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>    

    <!--import with script-->
    <script src="https://unpkg.com/vue"></script>
    <script>
        //assign new Vue instance with variable
        var shoppingList = new Vue({
            //targets element by id
            el: "#shopping-list",
            data: {
                header: "shopping list app",
                newItem: "",
                items: [
                    "10 party hats",
                    "2 board games",
                    "20 cups"
                ]
            }
        });
    </script>
</body>

</html>