<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List App</title>
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <!--can use v-if and v-else to dynamically toggle elements based on conditional-->
            <button v-if="state === 'default'" @click="changeState('edit')" class="btn btn-primary">Add Item</button>
            <button v-else="state === 'edit'" @click="changeState('default')" class="btn btn-cancel">Cancel</button>
        </div>

        <!--adding new item through .push method | if statement toggles on/off with above buttons changing state from "default" below-->
        <div class="add-items-form" v-if="state === 'edit'">
            <!--adding new items through input-->
            <!--short hand for v-on is @ symbol ex: @click=""-->
            <input v-model="newItem" type="text" placeholder="Add an item" v-on:keyup.enter="items.push(newItem)"/>
            <!--instead of defining method on each element, can define methods below and call them in v-on:-->
            <button class="btn btn-primary" v-on:click="saveItem" :disabled="newItem.length === 0">Save</button>
            <!--v-bind can be shortened to a : | above code disables button if length is 0-->
        </div>

        <ul>
            <!--would like an li for each item in items array-->
            <li v-for="item in items" :class="{strikeout: item.purchased}">{{ item.label }}</li>
        </ul>
        <!--if statement to toggle between this and list-->
        <p v-if="items.length === 0">Nice Job! You've bought all of your items!</p>
    </div>    

    <!--import with script-->
    <script src="https://unpkg.com/vue"></script>
    <script>
        //assign new Vue instance with variable
        var shoppingList = new Vue({
            //targets element by id
            el: "#shopping-list",
            data: {
                state: "default",
                header: "shopping list app",
                newItem: "",
                items: [
                    {
                        label: "10 party hats",
                        purchased: false,
                    },
                    {
                        label: "2 board games",
                        purchased: true
                    },
                    {
                        label: "20 cups",
                        purchased: false
                    }
                ]
            },
            //another way of defining methods instead of v-on: is defining a method here | need to use 'this' keyword | can be reusable methods
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    });
                    //sets state back to an empty string
                    this.newItem = "";
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = "";
                }
            }
        });
    </script>
</body>

</html>